<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body class="registerBody">
     <%- include("../partials/nav.ejs") %>
    <% if (errorMessage) { %>
      <p class="errMessage" style="color: red; font-weight: bold;"><%= errorMessage %></p>
    <% } %>
    <h1 class="registerh1">Create a new account!</h1>
    <form class="registerForm" action="/auth/register" method="POST">
      <label class="registerUn" for="username">Username:</label>
      <input class="input1" type="text" name="username" id="username" value="<%= formData?.username || '' %>" />
      <label class="registerP" for="password">Password:</label>
      <input class="input2" type="password" name="password" id="password" />
      <label class="registerCp" for="confirmPassword">Confirm Password:</label>
      <input class="input3" type="password" name="confirmPassword" id="confirmPassword" />
      <button class="button1" type="submit">Sign up</button>
    </form>
  </body>
</html>