<nav>
  <% if (user) { %>
    <a href="/">Home</a>
    <a href="/collection">My Collection</a>
    <a href="/collection/new">Add a Sneaker</a>
    <a href="/users">All Collections</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/">Home</a>
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Log In</a>
  <% } %>
</nav>